<div id="<%= dom_id citytwon %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= citytwon.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= citytwon.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= citytwon.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this citytwon", citytwon, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this citytwon', edit_citytwon_path(citytwon), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
